.dual-slider {
    position: relative;
    height: 40px;
}

.dual-slider .dual-track {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    border-radius: 9999px;
    background: rgb(51 65 85);
}

.dual-slider .dual-fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    border-radius: 9999px;
    background: rgb(16 185 129);
    left: 0;
    width: 100%;
}

input.dual-range {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    background: transparent;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

input.dual-range:focus {
    outline: none;
}

input.dual-range::-webkit-slider-runnable-track {
    height: 4px;
    background: transparent;
    border: none;
}

input.dual-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    height: 14px;
    width: 14px;
    border-radius: 9999px;
    background: rgb(16 185 129);
    border: 2px solid rgb(2 6 23);
    box-shadow: 0 0 0 1px rgb(30 41 59);
}

input.dual-range::-moz-range-track {
    height: 4px;
    background: transparent;
    border: none;
}

input.dual-range::-moz-range-thumb {
    pointer-events: auto;
    height: 14px;
    width: 14px;
    border-radius: 9999px;
    background: rgb(16 185 129);
    border: 2px solid rgb(2 6 23);
    box-shadow: 0 0 0 1px rgb(30 41 59);
}
